/* You can add global styles to this file, and also import other style files */
/* For base styles (check out normalize.css) */
@tailwind base;
/* Simple reusable components provided by tailwind */
@tailwind components;
/* utility classes generated based on our tailwind.config.js */
@tailwind utilities;

/* body{
    background-image:  url('https://upload.wikimedia.org/wikipedia/commons/3/3f/Git_icon.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

} */